@mixin defaultButton {
  height: 55px;
  font-size: 14px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .add {
    @include defaultButton;

    &:hover {
      background: rgba(34, 133, 62, 0.4);
    }
  }

  .delete {
    @include defaultButton;
    margin-top: 10px;

    &:hover {
      background: rgba(129, 46, 46, 0.2);
    }
  }
}